#logo {
  height: 300px;
  width: 300px;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
}

.catContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./cats-background-bw.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.ui.button {
  background-color: black;
  color: white;
}
