#logo {
  height: 220px;
  width: 220px;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
   height: 220px;
   padding: 20px;
}

.catContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('http://gdj.graphicdesignjunction.com/wp-content/uploads/2014/05/0054+background+pattern+designs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.ui.button {
  background-color: black;
  color: hotpink;
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10%;
}

.subtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.description {
   display: flex;
   justify-content: center;
   color: white;
   font-size: 20px;
}

.enter {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 5rem;
  font-size: 20px;
  background-color: hotpink;
  color: white;
  text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  color: hotpink;
}
